@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@400;500&family=Staatliches&display=swap");
:root {
  --primary-color: #1181e9;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background: #fff;
}
a {
  color: #333;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
h1 {
  font-size: 2.7rem;
  font-family: "Roboto", sans-serif;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
p {
  margin: 0.5rem 0;
}
.py-2 {
  padding: 40px 0px;
}
/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
/* navbar */
.navbar {
  background: #6665ff;
  padding: 20px;
  width: 100%;
  z-index: 999;
  transition: 0.6s;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo a {
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.navbar .main-menu ul {
  display: flex;
  align-items: center;
}
.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
  color: #fff;
}
.navbar ul li a:hover {
  color: var(--primary-color);
}
/* Showcase */
#showcase {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
}
#showcase::before {
  content: "";
  background: url("./images/showcase-1\ \(2\).jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
}
#showcase .showcase-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
#showcase .showcase-content {
  z-index: 1;
}
#showcase .showcase-content p {
  margin-bottom: 1rem;
}
.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  background: var(--secondary-color);
}
.btn {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}
.btn-primary {
  background: var(--primary-color);
}
.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}
.btn:hover {
  opacity: 0.9;
}
.main {
  margin: 48px 0;
}

.main .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 30px;
}
.main .d-flex .img-container {
  width: 100%;
}
.wires .d-flex {
  flex-direction: row-reverse;
}
/* Terms and conditions */
.policy h2 {
  font-weight: 500;
}
/* Contact us */
.contact-us .support {
  text-align: center;
}
.contact-us .row {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  /* align-items: center; */
}
.contact-us .row .contact-wrapper {
  margin: 30px 0;
  padding: 10px 0;
}
.contact-us .row i {
  font-size: 30px;
  width: 1em;
  height: 1em;
  padding: 18px;
  border-radius: 50%;
  text-align: center;
  color: #1d7cdf;
  fill: #1d7cdf;
  overflow: hidden;
  display: inline;
  background-color: #d7deed;
}
.contact-us h3 {
  font-size: 1.5rem;
  margin-top: 30px;
}
.contact-us .form-col {
  width: 70%;
}
.contact-us form {
  padding: 30px;
}
.form-group input,
.form-group textarea {
  padding: 10px;
  margin-bottom: 1.3rem;
  width: 100%;
  display: block;
}
.btn-form {
  background-color: #055589;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 1.2rem;
  margin-top: 10px;
}
/* Footer */
#main-footer {
  background: #0e58b6;
  color: #fff;
  padding: 1.5rem 0 0 0;
}
#main-footer .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 20px 0;
}
#main-footer ul li {
  margin: 0 20px;
}
#main-footer a {
  color: #fff;
}
#main-footer p {
  text-align: center;
}
#main-footer .list li a:hover {
  color: var(--primary-color);
}
/* Hamburger  */
.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}
.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 6px 0;
}
/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: #0e58b6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}
.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
}
.mobile-menu ul li {
  margin: 10px 0;
}
.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}
.mobile-menu.active {
  right: 0;
}

/* Media Query */

@media (max-width: 670px) {
  .navbar .main-menu {
    display: none;
  }
  .navbar .hamburger-button {
    display: block;
  }
}
